<section class="itemsList h-screen-86px">
    <div class="">
        <h1 class="pl-12 pt-12 text-lg font-bold">All Items</h1>
        <table class="w-full ">
            <tr class="pt-12">
                <th>Name</th>
                <th>Id</th>
                <th>Price</th>
                <th>Size</th>
                <th>Description</th>
            </tr>
            <%- cakes.forEach(function(cake) {
                
            }) %>
        </table>
    </div>
    
    
</section>