<div class="dash h-screen flex justify-around pt-16">
    <a href="dashboard/addMenu">
        <section id="edit-menu" class="bg-red-400 h-32 w-64 rounded-xl flex justify-center items-center">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <p class="font-bold text-white">Edit Menu</p>
        </section>
    </a>
    <a href="/dashboard/viewMenu">
        <section id="edit-order" class="bg-red-400 h-32 w-64 rounded-xl flex justify-center items-center">
            <i class="fa fa-first-order" aria-hidden="true"></i>
            <p class="font-bold text-white">View Menu</p>
        </section>
    </a>
</div>