<div class="dash h-screen flex justify-around flex-wrap pt-16">
    <a href="/dashboard/viewMenu">
        <section id="edit-order" class="bg-red-400 h-32 w-64 rounded-xl flex justify-center items-center">
            <i class="fa fa-first-order" aria-hidden="true"></i>
            <p class="font-bold text-white">View Products</p>
        </section>
    </a>
    <a href="/dashboard/addNewProduct">
        <section id="edit-order" class="bg-red-400 h-32 w-64 rounded-xl flex justify-center items-center">
            <i class="fa fa-first-order" aria-hidden="true"></i>
            <p class="font-bold text-white">Add New Product</p>
        </section>
    </a>
    <a href="dashboard/viewMenu">
        <section id="edit-menu" class="bg-red-400 h-32 w-64 rounded-xl flex justify-center items-center">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <p class="font-bold text-white">Edit Products</p>
        </section>
    </a>
    <a href="/dashboard/viewMenu">
        <section id="edit-order" class="bg-red-400 h-32 w-64 rounded-xl flex justify-center items-center">
            <i class="fa fa-first-order" aria-hidden="true"></i>
            <p class="font-bold text-white">View Menu</p>
        </section>
    </a>
    <a href="/dashboard/allOrder">
        <section id="edit-order" class="bg-red-400 h-32 w-64 rounded-xl flex justify-center items-center">
            <i class="fa fa-first-order" aria-hidden="true"></i>
            <p class="font-bold text-white">All Orders</p>
        </section>
    </a>
</div>